header{
  background-color: rgb(189, 189, 189);
  border-bottom: 1px black solid;
  padding: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Home-Menu{
  display: flex;
  align-items: center;
  gap: 10px;
}

.Menu-Bar{
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  width: 100%;
  gap: 20px;
}

.Titulo{
  font-family: Pokemon;
}

.Pesquisar{
  max-width: 450px;
  min-width: 200px;
  width: 100%;
  position: relative;
  display: flex;
}

.Pesquisa{
  width: 100%;
  padding: 10px 10px;
  font-size: 20px;
  background-color: rgb(240, 240, 240);
}

.Inicio{
  font-size: 25px;
}

.Pesquisa:focus{
  outline: none;
}

.btn-pesquisar{
  background: transparent;
  border: none;
  position: absolute;
  right: 10px;
  top: 8px;
  cursor: pointer;
}

.btn-pesquisar > img{
  height: 24px;
}

a > img{
  height: 44px;
}

@media screen and (max-width: 600px) {
  .Menu-Bar{
    align-items: center;
    flex-direction: column;
  }
}

/*NAV*/

nav{
  color: white;
  display: flex;
  justify-content: center;
  margin: 10px 0px;
}

.ListaRegiões{
  margin: 5px;
  padding: 10px;
  border-radius: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  list-style: none;
  gap: 10px;
}

.btn-região{
  background-color: rgb(121, 118, 118);
  padding: 10px;
  border-radius: 15px;
  border: 2px solid rgb(48, 46, 46);
  font-family: var(--Pokemon);
  font-size: 16pt;
  color: rgb(255, 255, 255);
  text-shadow: 2px 2px black;
  cursor: pointer;
  transition: 0.5s;
}

.btn-região:hover{
  background-color: rgb(173, 162, 162);
  color: black;
  text-shadow: 2px 2px white;
}

.RegiãoSelecionada{
    background-color: rgb(173, 162, 162);
    color: black;
    text-shadow: 2px 2px white;
}