body{
  background-color: white;
}

/*Botao Voltar*/

.btn{
  padding: 10px;
  cursor: pointer;
}

.btn-voltar{
  position: absolute;
  padding: 5px;
  border-radius: 20px;
  border: 2px solid black;
  display: flex;
  justify-content: center;
}

.btn-voltar > img{
  height: 24px;
}

/*Imagem do Pokemon*/

.Names > h1{
  text-align: center;
  font-family: var(--Pokemon);
}

.btn, header{
  background-color: lightcyan;
}

header{
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: 280px;
  border-radius: 0px 00px 80px 80px;
}

.imgs-poke{
  position: relative;
}

.Pokeball{
  position: absolute;
  z-index: 1;
  right: 6px;
  height: 220px;
  opacity: 0.5;
}

.Sprite-Poke{
  position: relative;
  height: 200px;
  z-index: 10;
}

/*Informações Pokedex*/

nav{
  margin-top: 10px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-evenly;
}

.btn-pokeinfo{
  cursor: pointer;
  color: gray;
  font-size: 22px;
  padding: 10px;
  max-width: 200px;
  width: 100%;
  border-bottom: 1px solid rgb(212, 212, 212);
  transition: 0.5s;
  text-align: center;
}

.btn-pokeinfo:hover{
  font-size: 24px;
  background-color: rgb(245, 244, 244);
}

/*Info*/

.Pokedex{
  padding: 15px;
  font-size: 20px;
}

.Fisico{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 24px;
  margin-bottom: 15px;
}

.Types{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}

.Types > img{
  height: 44px;
}

.Descriçao{
  margin-bottom: 15px;
}

.Descriçao > h1{
  font-family: var(--Pokemon);
}

/*Status*/

.Stat-Info{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.Infos{
  display: flex;
  justify-content: space-between;
  min-width: 300px;
  margin-right: 20px;
}

.Stat-Info{
  margin-bottom: 10px;
}

.Stat-Bar{
  min-width: 200px;
  max-width: 1000px;
  width: 100%;
}

.Type{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.Type > img{
  height: 44px;
}

.Titulo{
  margin-bottom: 10px;
}

.Types-Fraquezas{
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*Evolution*/

.Grid-Imgs{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  overflow: scroll;
  gap: 20px;
}

.Evolução{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 750px) {
  .Grid-Imgs{
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 550px) {
  .Grid-Imgs{
    display: flex;
    flex-direction: column;
  }

  .Evolução{
    margin-bottom: 20px;
  }
}

.Evolução > img{
  height: 260px;
}

