body{
  background-color: white;
}

/*Botao Voltar*/

.btn{
  padding: 10px;
  cursor: pointer;
}

.btn-voltar{
  position: absolute;
  padding: 5px;
  border-radius: 20px;
  border: 2px solid black;
  display: flex;
  justify-content: center;
}

.btn-voltar > img{
  height: 24px;
}

/*Imagem do Pokemon*/

.Names > h1{
  text-align: center;
  font-family: var(--Pokemon);
}

.btn, header{
  background-color: lightcyan;
}

header{
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: 280px;
  border-radius: 0px 00px 80px 80px;
}

.imgs-poke{
  position: relative;
}

.Pokeball{
  position: absolute;
  z-index: 1;
  right: 6px;
  height: 220px;
  opacity: 0.5;
}

.Sprite-Poke{
  position: relative;
  height: 200px;
  z-index: 10;
}

/*Informações Pokedex*/

nav{
  margin-top: 10px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-evenly;
}

.btn-pokeinfo{
  cursor: pointer;
  color: gray;
  font-size: 22px;
  padding: 10px;
  max-width: 200px;
  width: 100%;
  border-bottom: 1px solid rgb(212, 212, 212);
  transition: 0.5s;
  text-align: center;
}

.btn-pokeinfo:hover{
  font-size: 24px;
  background-color: rgb(245, 244, 244);
}

/*Info*/

.Pokedex-Info, .Pokedex-Status{
  padding: 15px;
  font-size: 20px;
}

.Fisico{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 24px;
  margin-bottom: 15px;
}

.Types{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}

.Types > img{
  height: 44px;
}

.Descriçao{
  margin-bottom: 15px;
}

.Descriçao > h1{
  font-family: var(--Pokemon);
}

/*Status*/

